﻿<ion-view view-title="Main">
  <div layout="column" style="height:100%;">
    <section layout="row" flex>
      <!-- Sidemenu -->
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidemenu" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Bienvenido Adrian!</h1>
        </md-toolbar>
        <md-content layout-padding>
           <md-list-item ng-click="vm.$state.go('content.pedidos')">
              <md-icon md-svg-icon="action:shopping_cart"></md-icon>
              <p>Mis pedidos</p>
            </md-list-item>
            <md-list-item ng-click="vm.$state.go('content.favoritos')">
              <md-icon md-svg-icon="toggle:star"></md-icon>
              <p>Favoritos</p>
            </md-list-item>
            <md-list-item ng-click="vm.$state.go('content.perfil')">
              <md-icon md-svg-icon="social:person" ></md-icon>
              <p>Mis datos</p>
            </md-list-item>    
        </md-content>
      </md-sidenav>
      <md-content flex>
        <!--Tabs -->
        <md-content >
            <md-tabs class="md-accent">
              <md-tab id="tab1" md-on-select="vm.toggleMenu()">
                <md-icon md-svg-icon="action:reorder"></md-icon>            
              </md-tab>
              <md-tab id="tab1" ui-sref="main.stage">
                <md-tab-label>APPNAME</md-tab-label>
                <md-tab-body>
                  <ion-nav-view name="stage"></ion-nav-view>
                </md-tab-body>
              </md-tab>
              <md-tab id="tab2" ui-sref="main.chats">
                <md-tab-label>Chats</md-tab-label>
                <md-tab-body>
                  <ion-nav-view name="chats"></ion-nav-view>
                </md-tab-body>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </md-content>
    </section>
  </div>
</ion-view>